*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
margin: auto;
}

body{
background:rgb(0, 0, 0);
color:white;
}



.container{
width:1200px;
margin:auto;
padding:40px;
background:linear-gradient(120deg,#000000,#333232);
border-radius:25px;
}



header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:80px;
}

.logo{
font-size:26px;
font-weight:bold;
}

nav a{
margin:0 20px;
color:white;
text-decoration:none;
}

nav a:hover{
color:orange;
}

.resume{
border:1px solid white;
padding:8px 15px;
border-radius:20px;
text-decoration:none;
color:white;
}


.hero{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:120px;
}

.hero-left{
max-width:500px;
}

.intro{
font-size:22px;
margin-bottom:10px;
}

.intro span{
color:orange;
}

.hero-left h1{
font-size:60px;
margin-bottom:15px;
}

.desc{
margin-top:10px;
}

.hire{
background:orange;
border:none;
padding:12px 25px;
border-radius:25px;
margin-top:20px;
cursor:pointer;
}

.hero-img{
width:350px;
border-radius:20px;
transition: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}


.skills-section{
text-align:center;
margin-bottom:120px;
}

.skills{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:30px;
}

.skill-card{
background:#222;
padding:15px 30px;
border-radius:10px;
transition:0.3s;
}

.skill-card:hover{
background:orange;
transform:scale(1.1);
}


.projects{
text-align:center;
margin-bottom:120px;
}

.project-container{
display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;
margin-top:30px;
}

.project-card{
background:#222;
padding:20px;
border-radius:15px;
width:260px;
transition:0.3s;
}

.project-card img{
width:100%;
border-radius:10px;
margin-bottom:10px;
}

.project-card:hover{
transform:translateY(-10px);
background:#333;
}

.about{
display:flex;
align-items:center;
justify-content:space-between;
gap:40px;
margin-bottom:120px;
}

.about-img img{
width:350px;
border-radius:20px;
transition:0.6s;
}

.about-img img:hover{
transform:scale(1.08);
}

.about-text{
max-width:500px;
}

.about-text h2{
font-size:40px;
margin-bottom:20px;
}


footer{
text-align:center;
padding:40px 0;
border-top:1px solid rgba(255,255,255,0.2);
}

.social{
margin:20px 0;
}

.social a{
color:white;
font-size:24px;
margin:0 10px;
transition:0.3s;
}

.social a:hover{
color:orange;
transform:scale(1.2);
}